destination=192.168.13.22:5001
@destination-mac=B8:CE:F6:8C:E3:B4

[mlx5_pci]
#drivers/common/mlx5/mlx5_devx_cmds.c:999 
clock_hz=1000000000 # hca_attr->dev_freq_khz = 1000000
info.default_rxportconf.nb_queues=1
info.default_rxportconf.burst_size=1
info.default_txportconf.nb_queues=1
info.default_txportconf.burst_size=1
rx_reconfig_hint=65000
next_src_port=5000

[eal]
l=16-26
n=8
a=0000:40:00.1


[Sinks.1]
Destination=Console
Format=[%Channel%] %TimeStamp% %Message% 
Filter=%Channel% != "stats" | %Severity% >= info

[Sinks.2]
Destination=TextFile
FileName=logs.win/bf2/mx-bf2-%Y-%m-%d_%H-%M-%S.%N.log
AutoFlush=true
Format=[%Severity%]  %Message%
Filter=%Channel% != "stats"

[Sinks.3]
Destination=TextFile
FileName=logs.win/bf2/mx-bf2-stats-%Y-%m-%d_%H-%M-%S.%N.log
AutoFlush=true
Format=[%Severity%]  %Message%
Filter=%Channel% = "stats"