destination=192.168.13.21:5001

#08:BF:B8:05:53:91 0000:06:00.0 'Ethernet Controller X710 for 10GBASE-T 15ff' numa_node=0 if=eno1np0 drv=i40e unused= *Active*
[nic.08:BF:B8:05:53:91]
name=enp6s0f0np0
ip=192.168.13.1

#08:BF:B8:05:53:90 0000:06:00.1 'Ethernet Controller X710 for 10GBASE-T 15ff' numa_node=0 if=eno2np1 drv=i40e unused= *Active*
[nic.08:BF:B8:05:53:90]
name=enp6s0f1np1
ip=192.168.13.2

#40:A6:B7:96:E7:A0 0000:6a:00.0 'Ethernet Controller E810-C for QSFP 1592' numa_node=0 if=enp106s0f0np0 drv=ice unused= 
[nic.40:A6:B7:96:E7:A0]
name=enp106s0f0np0
ip=192.168.13.11

#40:A6:B7:96:E7:A1 0000:6a:00.1 'Ethernet Controller E810-C for QSFP 1592' numa_node=0 if=enp106s0f1np1 drv=ice unused= 
[nic.40:A6:B7:96:E7:A1]
name=enp106s0f1np1
ip=192.168.13.12

#B8:CE:F6:8C:E3:B4 0000:40:00.0 'MT42822 BlueField-2 integrated ConnectX-6 Dx network controller a2d6' numa_node=0 if=enp64s0f0np0 drv=mlx5_core unused= 
[nic.B8:CE:F6:8C:E3:B4]
name=enp64s0f0np0
ip=192.168.13.21

#B8:CE:F6:8C:E3:B5 0000:40:00.1 'MT42822 BlueField-2 integrated ConnectX-6 Dx network controller a2d6' numa_node=0 if=enp64s0f1np1 drv=mlx5_core unused= 
[nic.B8:CE:F6:8C:E3:B5]
name=enp64s0f1np1
ip=192.168.13.22

#EC:0D:9A:98:B2:D2 0000:16:00.0 'MT27710 Family [ConnectX-4 Lx] 1015' numa_node=0 if=ens8191f0np0 drv=mlx5_core unused= 
[nic.EC:0D:9A:98:B2:D2]
name=ens8191f0np0
ip=192.168.13.31

#EC:0D:9A:98:B2:D3 0000:16:00.1 'MT27710 Family [ConnectX-4 Lx] 1015' numa_node=0 if=ens8191f1np1 drv=mlx5_core unused= *Active*
[nic.EC:0D:9A:98:B2:D3]
name=ens8191f1np1
ip=192.168.13.32

#00:0F:53:63:4C:E0 0000:94:00.0 'SFC9220 10/40G Ethernet Controller 0a03' numa_node=0 if=enp148s0f0np0 drv=sfc unused= 
[nic.00:0F:53:63:4C:E0]
name=enp148s0f0np0
ip=192.168.13.41

#00:0F:53:63:4C:E1 0000:94:00.1 'SFC9220 10/40G Ethernet Controller 0a03' numa_node=0 if=enp148s0f1np1 drv=sfc unused=
[nic.00:0F:53:63:4C:E1]
name=enp148s0f1np1
ip=192.168.13.42

[mlx5_pci]
#drivers/common/mlx5/mlx5_devx_cmds.c:999 
clock_hz=1000000000 # hca_attr->dev_freq_khz = 1000000
info.default_rxportconf.nb_queues=1
info.default_rxportconf.burst_size=1
info.default_txportconf.nb_queues=1
info.default_txportconf.burst_size=1
rx_reconfig_hint=65000
next_src_port=5000

[eal]
a=0000:40:00.1
file-prefix=sockperf_cli 
l=16-26
n=8


[Sinks.1]
Destination=Console
Format=[%Channel%] %TimeStamp% %Message% 
Filter=%Channel% != "stats" | %Severity% >= info

[Sinks.2]
Destination=TextFile
FileName=logs/bf2/mx-bf2-%Y-%m-%d_%H-%M-%S.%N.log
AutoFlush=true
Format=[%Severity%]  %Message%
Filter=%Channel% != "stats"

[Sinks.3]
Destination=TextFile
FileName=logs/bf2/mx-bf2-stats-%Y-%m-%d_%H-%M-%S.%N.log
AutoFlush=true
Format=[%Severity%]  %Message%
Filter=%Channel% = "stats"